@using Spending.Database
@using Spending.Database.Entities

<select @onchange="OnChanged">
    @foreach (var category in _categories)
    {
        <option selected="@IsSelected(category)" value=@category.Id>@category.Name</option>
    }
</select>

@code {

    [Parameter] public int CategoryId { get; set; }
    [Parameter] public int ExternalId { get; set; }
    [Parameter] public EventCallback<Tuple<int,int>> SetCategoryId { get; set; }

    readonly IReadOnlyList<Category> _categories = Constants.Categories.List;

    public async Task OnChanged(ChangeEventArgs e) => await SetCategoryId.InvokeAsync(new Tuple<int, int>(int.Parse((string) e.Value), ExternalId));

    public bool IsSelected(Category category) => category.Id == CategoryId;
}
