@using Spending.Web.Data

<select @onchange="OnChanged">
    @foreach (var item in Source)
    {
        <option selected="@IsSelected(item)" value=@item.Id>@item.DisplayName</option>
    }
</select>

@code {

    [Parameter] public int SelectedId { get; set; }
    [Parameter] public IList<GenericDropDown> Source { get; set; }
    [Parameter] public EventCallback<int> SetSelectedId { get; set; }
    [Parameter] public bool AddAll { get; set; }

    public async Task OnChanged(ChangeEventArgs e) => await SetSelectedId.InvokeAsync(int.Parse((string)e.Value));

    public bool IsSelected(GenericDropDown item) => item.Id == SelectedId;

    protected override void OnInitialized()
    {
        if (AddAll)
        {
            Source.Insert(0, new GenericDropDown {Id = -1, DisplayName = "All"});
        }
    }

    //prevent the reset of the selected value when the UI refreshes
    protected override bool ShouldRender()
    {
        return false;
    }
}