@page "/"
@using System.IO
@using System.Net.Http.Headers
@inject HttpClient Http
@using Newtonsoft.Json
@using Spending.Api.Models
@using Spending.Database.Entities

<UploadStatementComponent SetTransactions="SetTransactions" SetUserId="SetUserId"></UploadStatementComponent>

@if (_transactions != null)
{
    <div>
        <table style="width:100%">
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Description</th>
                <th>User</th>
                <th>Category</th>
            </tr>
            @foreach (var transaction in _transactions)
            {
                <TransactionItemComponent Transaction="@transaction" UserId="@_userIdSelected"/>
            }
        </table>
    </div>
}

@code 
{
    IList<Transaction> _transactions = null;
    int _userIdSelected;

    void SetTransactions(IList<Transaction> transactions)
    {
        _transactions = transactions;
    }

    void SetUserId(int userId)
    {
        _userIdSelected = userId;
    }
}