@using Spending.Database.Entities

<select @onchange="OnChanged">
    @foreach (var user in _users)
    {
        <option selected="@IsSelected(user)" value=@user.Id>@user.Name</option>
    }
</select>

@code {

    [Parameter] public int UserId { get; set; }
    [Parameter] public EventCallback<int> SetUserId { get; set; }

    readonly List<User> _users = new List<User>
    {
        new User { Id = 1, Name = "Kevin" },
        new User { Id = 2, Name = "Mika" }
    };

    public async Task OnChanged(ChangeEventArgs e) => await SetUserId.InvokeAsync(int.Parse((string)e.Value));

    public bool IsSelected(User user) => user.Id == UserId;
}